<!------ Include the above in your HEAD tag ---------->

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!-- NAVBAR CODE END -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br />
      <h2>Item Management</h2>
      <h5>
        <span class="glyphicon glyphicon-star" style=" font-size: 30px;color: orange"></span>
        User Item requests <span class="glyphicon glyphicon-star" style=" font-size: 30px;color: orange"></span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-md-offset-0 col-md-4 col-sm-offset-4">
      <div class="fancy-collapse-panel">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngFor="let item of items | paginate: { itemsPerPage:5, currentPage: p }">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_{{item._id._id}}">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{item._id._id}}" aria-expanded="true"
                  attr.aria-controls="collapse_{{item._id._id}}" title="{{item._id.item_name }}">Item Name:
                  {{item._id.item_name.substring(0,40) }} at {{item._id.item_date}}
                </a>
              </h4>
            </div>
            <div id="collapse_{{item._id._id}}" class="panel-collapse collapse in" role="tabpanel" attr.aria-labelledby="heading_{{item._id._id}}">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped w-auto">
                    <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th>Full Name</th>
                        <th>Email Address</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <!-- <th *ngFor="let interestedItem of item.interestedUsers;">{{interestedItem.interesteduseremail}}</th> -->
                        <!-- <th><a href="javascript:void(0)" title="Contact"><span class="glyphicon glyphicon-envelope" style=" font-size: 20px;color: black"
                                                    (click)="mailToEmailAddress=interestedItem.interesteduseremail;popupItemName=item._id.item_name;open(content);"></span></a></th> -->
                      </tr>
                    </thead>
                    <tbody *ngFor="let interestedItem of item.interestedUsers" class="table-info">
                      <tr>
                        <!-- <td class="active">
                                                    <input type="checkbox" class="select-item checkbox" name="select-item"
                                                        value="1000" />
                                                </td> -->
                        <td>{{interestedItem.interestedfirstname }}</td>
                        <td>{{interestedItem.interesteduseremail }}</td>
                        <td>{{interestedItem.interesteduseraddress }}</td>
                        <td>{{interestedItem.interesteduserphonenumber }}</td>
                        <td>
                          <button *ngIf="item._id.isItem_Available" class="btn btn-success" (click)="updateStatus(item._id._id,false)">
                            Approved </button>

                          <img *ngIf="!item._id.isItem_Available" width="100" height="30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ4tCwLMjmAgIgRzBTUQK16D9OE95zzLehgizC6S57qlgwuukW">
                          <!-- <button *ngIf="item._id.isItem_Available" class="btn btn-warning"
                            (click)="updateStatus(item._id,item.isItem_Available)">
                            Mark Item Available </button> -->
                        </td>
                      </tr>
                      <!-- <tr><td><a href="javascript:void(0)" title="Contact"><span class="glyphicon glyphicon-envelope" style=" font-size: 20px;color: black"
                                                (click)="mailToEmailAddress=interestedItem.interesteduseremail;popupItemName=item._id.item_name;open(content);"></span></a></td></tr> -->
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
        <ul class="pagination pull-right">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- CONATINER END -->

<!-- Table design -->
<!-- https://mdbootstrap.com/docs/jquery/tables/responsive/ -->
<!-- https://getbootstrap.com/docs/4.0/content/tables/ -->