<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-3">
      <!-- login form -->
      <ngb-alert *ngIf="signedUp" type="success" (close)="signedUp = null">User signed up successfully. Login please!</ngb-alert>
      <ngb-alert *ngIf="signedUp" type="success" (close)="signedUp = null">User signed up successfully. Login please!</ngb-alert>
      <form *ngIf="loginshow" [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">

        <img class="mb-4" src="assets/UCM_logo.png" alt="" width="100" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
          <!-- email -->
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" formControlName="email_address" name="email_address" id="email_address" class="form-control"
            placeholder="Email address" required>
          <div [ngClass]="{'has-error': (loginForm.controls.email_address.errors && loginForm.controls.email_address.dirty),
    'has-success': !loginForm.controls.email_address.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="loginForm.controls.email_address.errors?.required && loginForm.controls.email_address.dirty">
                <font size="2">This
                  field is required</font>
              </li>
              <li class="alert alert-danger" *ngIf="loginForm.controls.email_address.errors?.validateEmail && loginForm.controls.email_address.dirty">
                <font size="2">Email
                  format is not correct</font>
              </li>
              <li *ngIf="loginForm.controls.email_address.errors?.maxlength" class="alert alert-danger">
                <font size="2">Maximum characters: 50</font>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <!-- password -->
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" id="password" formControlName="password" class="form-control"
            placeholder="Password" required>
          <div [ngClass]="{'has-error': (loginForm.controls.password.errors && loginForm.controls.password.dirty),
            'has-success': !loginForm.controls.password.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">
                <font size="2">This
                  field is required</font>
              </li>
              <li class="alert alert-danger" *ngIf="loginForm.controls.password.errors?.validatePassword && loginForm.controls.password.dirty">
                <font size="2">Password
                  must be at least 8 characters but no more than 35</font>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" [disabled]="loginForm.invalid" type="submit">Sign in</button>
          <button type="but ton" class="btn btn-link" (click)="loginshow=false">Sign Up</button>
        </div>
        <p>
          Login Form Status: {{ loginForm.status }}
        </p>

      </form>


      <!-- signup form -->
      <form *ngIf="!loginshow" [formGroup]="signupForm" (ngSubmit)="signup()" class="form-signin">
        <img class="mb-4" src="assets/UCM_logo.png" alt="" width="100" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign Up</h1>

        <!-- signup name -->
        <div class="formGroup">
          <label for="full_name" class="sr-only">Name</label>
          <input type="text" formControlName="full_name" class="form-control" placeholder="Name" required tabindex="1">
          <div [ngClass]="{'has-error': (signupForm.controls.full_name.errors && signupForm.controls.full_name.dirty),
            'has-success': !signupForm.controls.full_name.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.full_name.errors?.required && signupForm.controls.full_name.dirty">
                <font size="2">This
                  field is required</font>
              </li>
            </ul>
          </div>
        </div>
        <div class="formGroup">
          <!-- signup email -->
          <label for="email_address" class="sr-only">Email address</label>
          <input type="email" formControlName="email_address" class="form-control" placeholder="Email address" required tabindex="2">
          <div [ngClass]="{'has-error': (signupForm.controls.email_address.errors && signupForm.controls.email_address.dirty),
    'has-success': !signupForm.controls.email_address.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.email_address.errors?.required && signupForm.controls.email_address.dirty">
                <font size="2">This
                  field is required</font>
              </li>
              <li class="alert alert-danger" *ngIf="signupForm.controls.email_address.errors?.validateEmail && signupForm.controls.email_address.dirty">
                <font size="2">Email
                  format is not correct</font>
              </li>
              <li *ngIf="signupForm.controls.email_address.errors?.maxlength" class="alert alert-danger">
                <font size="2">Maximum characters: 50</font>
              </li>
            </ul>
          </div>
        </div>
        <!-- signup password -->
        <div class="formGroup">
          <label for="password" class="sr-only">Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Password" required tabindex="3">
          <div [ngClass]="{'has-error': (signupForm.controls.password.errors && signupForm.controls.password.dirty),
            'has-success': !signupForm.controls.password.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.password.errors?.required && signupForm.controls.password.dirty">
                <font size="2">This
                  field is required</font>
              </li>
              <li class="alert alert-danger" *ngIf="signupForm.controls.password.errors?.validatePassword && signupForm.controls.password.dirty">
                <font size="2">Password
                  must be at least 8 characters but no more than 35</font>
              </li>
            </ul>
          </div>
        </div>
        <!-- confirm password -->
        <div class="formGroup">
          <label for="confirmPassword" class="sr-only">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirm Password"
            required tabindex="4">
          <div [ngClass]="{'has-error': (signupForm.controls.confirmPassword.errors && signupForm.controls.confirmPassword.dirty),
            'has-success': !signupForm.controls.confirmPassword.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.confirmPassword.errors?.required && signupForm.controls.confirmPassword.dirty">
                <font size="2">This
                  field is required</font>
              </li>
              <li class="alert alert-danger" *ngIf="signupForm.controls.confirmPassword.errors?.validatePassword && signupForm.controls.confirmPassword.dirty">
                <font size="2">Password
                  must be at least 8 characters but no more than 35</font>
              </li>
            </ul>
          </div>
        </div>

        <div class="formGroup">
          <label for="phone_number" class="sr-only">Phone Number</label>
          <input type="text" formControlName="phone_number" class="form-control" placeholder="Phone Number" required tabindex="5">
          <div [ngClass]="{'has-error': (signupForm.controls.phone_number.errors && signupForm.controls.phone_number.dirty),
          'has-success': !signupForm.controls.phone_number.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.phone_number.errors?.required && signupForm.controls.phone_number.dirty">
                <font size="2">This
                  field is required</font>
              </li>
            </ul>
          </div>
        </div>
        <div class="formGroup">
          <label for="address" class="sr-only">Address</label>
          <input type="text" formControlName="address" class="form-control" placeholder="Address" required tabindex="5"> 
            <!-- <input type="text" id="address" name="address" formControlName="address" #pickUpAuto class="form-control" tabindex="5"
            placeholder="Address" aria-multiline="true" tabindex="5"> -->
          <div [ngClass]="{'has-error': (signupForm.controls.address.errors && signupForm.controls.address.dirty),
          'has-success': !signupForm.controls.address.errors}">
            <ul class="help-block">
              <li class="alert alert-danger" *ngIf="signupForm.controls.address.errors?.required && signupForm.controls.address.dirty">
                <font size="2">This
                  field is required</font>
              </li>
            </ul>
          </div>
        </div>
        <div class="formGroup">
          <button class="btn btn-lg btn-primary btn-block" [disabled]="signupForm.invalid" type="submit" tabindex="7">Sign Up</button>
          <button type="button" class="btn btn-link" (click)="loginshow=true" tabindex="8">Sign In</button>
        </div>
        <p>
          Sign Up Form Status: {{ signupForm.status }}
        </p>
      </form>
    </div>
  </div>
</div>