<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Backyard Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<!-- Page Content -->
<div>
    <!-- <select>
        <option>Near By</option>
        <option> <a href="javascript:void(0)" (change)="filterItemsDistanceWise(50);">50 miles</a></option>
        <option> <a href="javascript:void(0)" (change)="filterItemsDistanceWise(100);">100 miles</a></option>
    </select> -->

    <select (change)="filterItemsDistanceWise($event.target.value)">
        <option value="10000">--All--</option>
        <option value="20">--20 miles--</option>
        <option value="50">--50 miles--</option>
        <option value="100">--100 miles--</option>
        <option value="200">--200 miles--</option>
        <option value="5000">--5000 miles--</option>
    </select>
</div>

<!-- <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Item Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:void(0)" (click)="itemBind()">All Items</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="filterItemsDistanceWise(20)">20 miles</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="filterItemsDistanceWise(50)">50 miles</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="filterItemsDistanceWise(100)">100 miles</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="filterItemsDistanceWise(200)">200 miles</a>
        <a class="dropdown-item" href="javascript:void(0)" (click)="filterItemsDistanceWise(5000)">5000 miles</a>
    </div>
</div> -->

<div class="container">
    <!-- Page Features -->

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of items | paginate: { itemsPerPage:8, currentPage: p }">
            <div class="card">
                <img class="card-img-top" src="{{item._id.item_image}}" alt="" height="150">
                <!-- <ngx-image-zoom [thumbImage]=item.item_image [fullImage]=item.item_image></ngx-image-zoom> -->

                <!-- <img [imageZoom]="item.item_image" [src]="{{item.item_image}}" [style.width.px]="100" [style.height.px]="50"> -->
                <font size="2">{{item._id.item_cost | currency:'USD' }}</font>
                <div class="card-body">
                    <h6 class="card-title"><label class="card-text" title="{{item.item_name}}">{{item._id.item_name.substring(0,15)}}</label></h6>
                    <label class="text-secondary" title="{{item.item_description}}">
                        <font size="2">{{item._id.item_Location}}- {{item._id.item_date}}</font>
                    </label>
                    <!-- <label class="card-text" title="{{item.item_description}}">{{item.item_description.substring(0,100)}}</label> -->
                </div>
                <div class="card-footer">
                    <!-- <a href="javascript:void(0)" *ngIf="item.isItem_Available" class="btn btn-primary" data-target="#product_view">Available</a> -->
                    <!-- <button type="button" (click)="ShowItemDetails(item._id)" *ngIf="item.isItem_Available" class="btn btn-primary"
                        data-toggle="modal" attr.data-target="#myModal_{{item._id}}">Available</button> -->

                    <button type="button" *ngIf="item._id.isItem_Available" data-toggle="modal" class="btn btn-primary"
                        (click)="popupItemId=item._id._id; popupItemImage=item._id.item_image;popupItemName=item._id.item_name;popupItemDescription=item._id.item_description;popupItemCost=item._id.item_cost;open(content);ShowItemDetails(item._id.itemId,item._id.latitude, item._id.longitude)">
                        Available</button>

                    <img *ngIf="!item._id.isItem_Available" width="100" height="30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ4tCwLMjmAgIgRzBTUQK16D9OE95zzLehgizC6S57qlgwuukW">
                    
                    <!-- <a href="javascript:void(0)" *ngIf="!item.isItem_Available" class="btn btn-link" aria-disabled="true">Soldout</a> -->
                    <!-- <a  class="btn btn-primary">Find Out More!</a> -->
                </div>

                <div *ngIf="isUserLogin">
                    <a href="javascript:void(0)" *ngIf="!item.userInterested && item._id.isItem_Available">
                        <span class="glyphicon glyphicon-star-empty" style=" font-size: 30px;color: orange" (click)="addUserItemInterest(item._id.itemId,true)"></span>
                    </a>

                    <a href="javascript:void(0)" *ngIf="item.userInterested && item._id.isItem_Available">
                        <span class="glyphicon glyphicon-star" style=" font-size: 30px;color: orange" (click)="deleteUserItemInterest(item.itemInterestedId)"></span>
                    </a>
                </div>

                <span>Distance: {{item.distanceFromCurLoc}} Miles </span>
                <!-- <ng-container *ngIf="item.item_interested != null && item.item_interested.length>0; then loggedIn; else loggedOut">
                </ng-container>

                <ng-template #loggedIn>
                    <div *ngFor="let itemIn of item.item_interested">

                        <a href="javascript:void(0)" *ngIf="itemIn.itemId==item._id && itemIn.userId==loggedInUserId && itemIn.isItemInterested">
                            <span class="glyphicon glyphicon-star" style=" font-size: 30px;color: orange" (click)="deleteUserItemInterest(itemIn._id)"></span>
                        </a>
                        <a href="javascript:void(0)">
                            <span *ngIf="isUserLogin && itemIn.userId!=loggedInUserId" class="glyphicon glyphicon-star-empty"
                                style=" font-size: 30px;color: orange" (click)="addUserItemInterest(item._id,true)"></span>
                        </a>
                        <a href="javascript:void(0)" *ngIf="itemIn.itemId==item._id && itemIn.userId==loggedInUserId && !itemIn.isItemInterested">
                            <span class="glyphicon glyphicon-star-empty" style=" font-size: 30px;color: orange" (click)="addUserItemInterest(itemIn._id,true)"></span>
                        </a>
                    </div>
                </ng-template>
                <ng-template #loggedOut>
                    <div>
                        <div *ngIf="isUserLogin">
                            <a href="javascript:void(0)">
                                <span class="glyphicon glyphicon-star-empty" style=" font-size: 30px;color: orange"
                                    (click)="addUserItemInterest(item._id,true)"></span>
                            </a>
                        </div>
                    </div>
                </ng-template> -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <ul class="pagination pull-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
</div>

<!-- modal pop up starts :: booking -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <label title="{{popupItemName}}">{{popupItemName.substring(0,63)}}</label>
        </h4>
        <!-- <a href="#" data-dismiss="modal" class="pull-right" style="margin-left: -170px"><span class="glyphicon glyphicon-remove"></span></a> -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 product_img">
                <img src="{{popupItemImage}}" width="100%" height="40%" class="img-responsive">
                <pre></pre>
                <pre>Pickup Location</pre>
                <div id="map-canvas" width="40%" height="20%"></div>
            </div>
            <div class="col-md-6 product_content">
                <!-- <h4>Item Name: <span>{{popupItemName}} </span></h4> -->
                <label title="{{popupItemDescription}}">{{popupItemDescription.substring(0,200)}}</label>
                <h3 class="cost"><span class="glyphicon"></span>{{popupItemCost | currency:'USD'}}</h3>
                <div class="space-ten"></div>
                <!-- <div class="btn-ground">

                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span>
                        Ask for Details</button>
                </div> -->
            </div>
        </div>
    </div>

</ng-template>
<!-- modal pop up ends :: booking -->
<!--Model Popup-->

<!-- <div class="modal fade" id="myModal_{{item._id}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" data-dismiss="modal" class="pull-right" style="margin-left: -170px"><span class="glyphicon glyphicon-remove"></span></a>
                        <h3 class="modal-title">Item Details</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="map-canvas_{{item._id}}" width="50%" height="50%"></div>
                            <div class="col-md-6 product_img">
                                <img src="{{item.item_image}}" class="img-responsive">
                                <div id="map-canvas" width="30%" height="30%"></div>
                            </div>
                            <div class="col-md-6 product_content">
                                <h4>Item Name: <span>{{item.item_name}} </span></h4>
                                <label title="{{item.item_description}}">{{item.item_description.substring(0,200)}}</label>
                                <h3 class="cost"><span class="glyphicon"></span>{{item.item_cost | currency:'USD'
                                    }}</h3>
                                <div class="space-ten"></div>
                                <div class="btn-ground">
    
                                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span>
                                        Ask for Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
<!--Model Popup-->


<!--Google Maps-->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe8qhHfBKRdeOK0iWAQiYtQWStEyQOXC4&libraries=places"></script> -->
<!-- /.container -->



<!-- Home page theme design -->
<!-- https://startbootstrap.com/template-categories/ecommerce/ -->